<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= event.event_date %>
  </p>

  <p>
    <strong>Venue name:</strong>
    <%= event.venue_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= event.address %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= event.notes %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= event.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= event.lng %>
  </p>

  <p>
    <strong>County:</strong>
    <%= event.county_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= event.city_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= event.state_id %>
  </p>

</div>
